<% if formtastic ||= false %>
  <%= render partial: 'census/question_fields_formtastic', collection: user.unanswered_questions_for(datagroup), as: :question, locals: { user: user } %>
<% else %>
  <div class="census_questions">
    <% Census::DataGroup.all.each do |group| -%>
      <fieldset id="<%=group.name.parameterize %>">
        <legend><%= title ||= h(group.name) %></legend>
        <% group.questions.each do |question| -%>
          <% if formtastic ||= false%>
            <%= render 'census/question_fields_formtastic', :question => question, :user => user %>
          <% else %>
            <%= render 'census/question_fields', :question => question, :user => user %>
          <% end %>
        <% end -%>
      </fieldset>
    <% end %>
  </div>
<% end %>

